

ul.navigation{
    /*list-style-type: none;*/
    margin: 0;
    padding-left: 15px;
    overflow: hidden;
    background-color: rgb(58, 54, 54);
}

li.navigation{
    float: left;
}

li a.navigation {
    display: block;
    color: rgb(175, 173, 173);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    font-weight: bold
}

li a.navigation:hover {

    color: rgb(255, 255, 255);

}

.google {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search{
  
}

.search form{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input.search{
    border-width: 1px;
    border-color: rgb(253, 249, 249);
    width: 600px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0px 8px 14px -4px rgba(176,176,176,1);
    -moz-box-shadow: 0px 8px 14px -4px rgba(176,176,176,1);
    box-shadow: 0px 8px 14px -4px rgba(176,176,176,1);
}

ul.buttons{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li.buttons{
    float: left;
}

li a.buttons{
    padding: 10px 18px;
    background-color: rgb(240, 239, 239);
    color: rgb(138, 136, 136);
    margin: 6px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: bold;
    border: solid 1px transparent;
    border-radius: 2px;
}

li a.buttons:hover {

    color: rgb(2, 2, 2);
    border: solid 1px rgb(172, 170, 170);
    border-radius: 2px;
    background: linear-gradient(to bottom right,rgb(240, 239, 239), rgb(238, 238, 238));

}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul.footer{
    background-color: rgb(240, 239, 239);
    padding: 6px 20px;
    color: white;
    overflow: hidden;
}

ul.footer-right{
    color: white;
    overflow: hidden;
    margin-right: 40px;
}

li a.footer-left{
    float: left;
    display: block;
    color: rgb(85, 84, 84);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px;
    margin: 10px;
}

li a.footer-left:hover{
    text-decoration: underline;
}

li a.footer-right{
    float: right;
    display: block;
    color: rgb(85, 84, 84);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px;
    margin: 10px;
}

li a.footer-right:hover{
    text-decoration: underline;
}